In [3]:
### print hello world

In [1]:
print("hello world")

hello world

In [2]:
print("datascience")

datascience

In [4]:
name = "ram","shyam"
name

('ram', 'shyam')

In [5]:
5name="ram","shyam"
5name

SyntaxError: ignored

In [6]:
name="garry"
name="roger"
print(name)

roger

In [7]:
x=y=z=10
print(x)

10

In [9]:
x,y,z=1,2,3
print(y)

2

In [ ]:
x=10
float()x